# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
*.pth

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Results
results/*.png
results/*.csv

# Conda
.env/

# datasets
data/
*.tar.gz
*.zip

# IDE
.idea/

# model artifacts
models/*.onnx
models/*.onnx.data
*.onnx
*.onnx.data
